
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.4
  creationTimestamp: null
  name: intents.dela.phillebaba.io
spec:
  additionalPrinterColumns:
  - JSONPath: .status.state
    name: Status
    type: string
  - JSONPath: .metadata.creationTimestamp
    name: Age
    type: date
  group: dela.phillebaba.io
  names:
    kind: Intent
    listKind: IntentList
    plural: intents
    singular: intent
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: Intent is the Schema for the Intents API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: IntentSpec defines the desired state of Intent
          properties:
            namespaceWhitelist:
              description: Namespaces that are whitelisted to access the Intent. Supports
                either plain text or regex. Empty list means allowing all namespaces.
              items:
                type: string
              type: array
            secretRef:
              description: Reference to Secret that is shared by Intent.
              type: string
          required:
          - secretRef
          type: object
        status:
          description: IntentStatus defines the observed state of Intent
          properties:
            state:
              description: IntentState represents the current state of a Intent.
              type: string
          required:
          - state
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
